@page "/"
<div class="intro">
    <div class="avatar">
        <a href="javascript:;"><img src="../images/1.jpg" /></a>
    </div>
    <div class="nickname">阿涛Plus</div>
    <div class="description">
        <p>
            生命不息，奋斗不止
            <br>Cease to struggle and you cease to live
        </p>
    </div>
    <div class="links">
        <a class="link-item" title="Blog" href="/posts">
            <i class="iconfont iconread"></i>
        </a>
        <a target="_blank" class="link-item" title="Documents" href="https://docs.meowv.com">
            <i class="iconfont iconnotes"></i>
        </a>
        <a target="_blank" class="link-item" title="API" href="http://www.yudlk.com:6001">
            <i class="iconfont iconapi"></i>
        </a>
        <a target="_blank" class="link-item" title="Admin" href="http://www.yudlk.com:6002">
            <i class="iconfont iconcode"></i>
        </a>
        <a target="_blank" class="link-item" title="Github" href="https://github.com">
            <i class="iconfont icongithub"></i>
        </a>
        <a class="link-item weixin" title="关注微信公众号：『阿涛Plus』了解更多" href="javascript:;">
            <i class="iconfont iconweixin"></i>
        </a>
        <div class="qrcode hidden">
            <img src="../images/2.jpg" />
        </div>
    </div>
</div>